body {
    margin: 20px 10%;
}
.peliculas {
    background-color: #fff0fa;
    padding: 20px;
    border: 1px solid lightgrey;
    transition: 1s;
    border-radius: 5px;
}
.peliculas li {
    transition: 1s;
}
.peliculas li:hover {
    text-decoration: underline;
    background-color: white;
    transition: 1s;
}
.divisor{
    margin: 20px 0px;
}
.argumento {
    background-color: #f8f1dd;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 5px;
}
.poster {
    text-align: center;
    border: 1px solid lightgray;
}
.poster img {
    width: 100%;
    min-width: 200px;
    border-radius: 5px;
    }
.dos-cuadros{
    display: flex;
    position: relative;
    transition: 1s;
    top: 0px;
}
.dos-cuadros:hover {
    position: relative;
    top: -10px;
    transition: 1s;
    box-shadow: 5px 3px 3px #adadad;
}