body {
    margin: 20px 10%;
}
.peliculas {
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid lightgrey;
    transition: 1s;
}
.peliculas li {
    transition: 1s;
}
.peliculas li:hover {
    text-decoration: underline;
    background-color: white;
    transition: 1s;
}
.divisor{
    margin: 20px 0px;
}
.argumento {
    background-color: whitesmoke;
    border: 1px solid lightgray;
    padding: 20px;
}
.poster {
    text-align: center;
    border: 1px solid lightgray;
}
.poster img {
    width: 100%;
    min-width: 200px;
    }
.dos-cuadros{
    display: flex;
}